.wrapper {
  display: flex;
  flex-direction: column;

  height: 100vh;
}

.header {
  background-color: var(--primary);
  color: #fff;
  height: 50px;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.messages-container {
  position: relative;
  flex: 1;

  padding: 1rem;

  .messages {
    display: flex;
    flex-direction: column-reverse;

    overflow-y: auto;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    height: 100%;

    pre {
      margin: 0;
    }
  }
}

.input-row {
  padding: 15px 1rem;

  display: flex;

  input {
    flex: 1;
    padding: .5rem;
  }

  button {
    margin-left: 1rem;
  }

  input, button {
    margin-bottom: 0;
  }
}

#modal-donate {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: #000;
    opacity: .5;
  }

  .content {
    background: #fff;
    z-index: 1;
    width: 90%;
    max-width: 500px;
    padding: 2rem;

    .title {
      text-align: center;
    }

    .credit-card {
      width: 360px;
      margin: 2rem auto 1rem;
      border: 1px solid #ddd;
      border-radius: 6px;
      background-color: #fff;
      box-shadow: 1px 2px 3px 0 rgba(0,0,0,.10);

      .form-header {
        height: 60px;
        padding: 20px 30px 0;
        border-bottom: 1px solid #e1e8ee;
      }

      .form-body {
        height: 340px;
        padding: 30px 30px 20px;
      }
      /* Common */
      .card-number,
      .cvv-input input,
      .month select,
      .year select {
        font-size: 14px;
        font-weight: 100;
        line-height: 14px;
      }

      .card-number,
      .month select,
      .year select {
        font-size: 14px;
        font-weight: 100;
        line-height: 14px;
      }

      .card-number,
      .cvv-details,
      .cvv-input input,
      .month select,
      .year select {
        opacity: .7;
        color: #86939e;
      }

      /* Card Number */
      .card-number {
        width: 100%;
        margin-bottom: 20px;
        padding-left: 20px;
        border: 2px solid #e1e8ee;
        border-radius: 6px;
      }

      /* Date Field */
      .month select,
      .year select {
        width: 145px;
        margin-bottom: 20px;
        padding-left: 20px;
        border: 2px solid #e1e8ee;
        border-radius: 6px;
        background: url('https://designmodo.com/demo/creditcardform/caret.png') no-repeat;
        background-position: 85% 50%;
        -moz-appearance: none;
        -webkit-appearance: none;
      }

      .month select {
        float: left;
      }

      .year select {
        float: right;
      }

      /* Card Verification Field */
      .cvv-input input {
        float: left;
        width: 145px;
        padding-left: 20px;
        border: 2px solid #e1e8ee;
        border-radius: 6px;
        background: #fff;
      }

      .cvv-details {
        font-size: 12px;
        font-weight: 300;
        line-height: 16px;
        float: right;
        margin-bottom: 20px;
      }

      .cvv-details p {
        margin-top: 6px;
      }

      /* Buttons Section */
      .paypal-btn,
      .proceed-btn {
        cursor: pointer;
        font-size: 16px;
        width: 100%;
        border-color: transparent;
        border-radius: 6px;
      }

      .proceed-btn {
        margin-bottom: 10px;
        background: #7dc855;
      }

      .paypal-btn a,
      .proceed-btn a {
        text-decoration: none;
      }

      .proceed-btn a {
        color: #fff;
      }

      .paypal-btn a {
        color: rgba(242, 242, 242, .7);
      }

      .paypal-btn {
        padding-right: 110px;
        background: url('https://designmodo.com/demo/creditcardform/paypal-logo.svg') no-repeat 75% 50% #009cde;
      }
    }
  }
}
