<div class="wrapper">
  <div class="header">
    {{ listing.title }}
  </div>

  <div class="messages-container">
    <div #messages class="messages">
      <div class="message">- Share your love even more by making a donation <pre><code>/donate</code></pre></div>

      <div class="message">- Share your love about <span>{{ listing.title }}</span> on Facebook <pre><code>/checkin</code></pre></div>

      <div class="message">- Set your <strong>username</strong> by typing <pre><code>/username "username"<br>e.g. /username giannis</code></pre></div>

      <div class="message">Welcome to <strong>{{ listing.title }}</strong> chat room!</div>
    </div>
  </div>

  <div class="input-row">
    <input autofocus type="text" [(ngModel)]="message" (keyup.enter)="message && sendMessage()" />

    <button [disabled]="!message" (click)="sendMessage()">Enter</button>
  </div>
</div>

<div id="modal-donate" *ngIf="modalVisibility">
  <div class="overlay"></div>
  <div class="content">
    <h2 class="title">Thank you for your support</h2>

    <form class="credit-card">
      <div class="form-body">
        <!-- Card Number -->
        <input type="text" class="card-number" placeholder="Card Number">

        <!-- Date Field -->
        <div class="date-field">
          <div class="month">
            <select name="Month">
              <option value="january">January</option>
              <option value="february">February</option>
              <option value="march">March</option>
              <option value="april">April</option>
              <option value="may">May</option>
              <option value="june">June</option>
              <option value="july">July</option>
              <option value="august">August</option>
              <option value="september">September</option>
              <option value="october">October</option>
              <option value="november">November</option>
              <option value="december">December</option>
            </select>
          </div>
          <div class="year">
            <select name="Year">
              <option value="2016">2016</option>
              <option value="2017">2017</option>
              <option value="2018">2018</option>
              <option value="2019">2019</option>
              <option value="2020">2020</option>
              <option value="2021">2021</option>
              <option value="2022">2022</option>
              <option value="2023">2023</option>
              <option value="2024">2024</option>
            </select>
          </div>
        </div>

        <!-- Card Verification Field -->
        <div class="card-verification">
          <div class="cvv-input">
            <input type="text" placeholder="CVV">
          </div>
          <div class="cvv-details">
            <p>3 or 4 digits usually found <br> on the signature strip</p>
          </div>
        </div>

        <!-- Buttons -->
        <button type="submit" class="proceed-btn" onclick="window.pay()"><a>Proceed</a></button>
        <button type="submit" class="paypal-btn" onclick="window.pay()"><a>Pay With</a></button>
      </div>
    </form>
  </div>
</div>
