<div class="intro-container" [class.hidden]="introHidden">
  <div class="box">
    <img class="flag" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Flag_of_Cyprus.svg/1024px-Flag_of_Cyprus.svg.png" alt="Cyprus">

    <h1 class="title">Hang out to your favorite places from a <strong>safe distance</strong></h1>

    <p class="subtitle">Support the unfortunate businesses in these tough times</p>

    <button (click)="introHidden = true">Let's go!</button>
  </div>
</div>

<div class="wrapper">
  <div class="listings-container">
    <div class="search">
      <input type="text" placeholder="Search for.." [(ngModel)]="searchTermModel" (ngModelChange)='searchChanged($event)' />
    </div>

    <div class="listings"
         #listings
         infiniteScroll
         infiniteScrollDistance="2"
         infiniteScrollContainer
         [scrollWindow]="false"
         (scrolled)="onScroll()">
      <div class="listing" *ngFor="let listing of filteredListings">
        <div class="inner" [style.width]="boxWidth" [style.height]="boxWidth">
          <div>
            <h5 class="title">{{ listing.title | titlecase }}</h5>

            <p class="address">{{ listing.address }}</p>
          </div>

          <button [routerLink]="['listing', listing.id]">Join</button>
        </div>
      </div>
    </div>
  </div>

  <mgl-map
    [style]="'mapbox://styles/mapbox/streets-v9'"
    [zoom]="[7]"
    [center]="[33.203430, 35.095192]">
  </mgl-map>
</div>
